*{
	margin: 0;
	padding:  0;
	box-sizing: inherit;
}
a{
	text-decoration: none;
}
.hw-floor{
	width: 100%;
	background-color: #efefef;
}
.hw-index{
	width: 1200px;
	height: 624px;
	margin: 0 auto;
	padding: 20px 0;
}
.hw-index-left{
	width: 240px;
	height: 624px;
	float: left;
	margin-right: 20px;
}
.hw-index-right{
	width: 940px;
	height: 624px;
	float: left;
}
.hw-menu{
	background-color: #FFFFFF;
	position: relative;
}
.hw-menu-title{
	display: block;
	height: 30px;
	background-color: #FF6a00;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #FFFFFF;
}
.hw-menu-item{
	height: 68.8px;
	padding:14px 16px 0;
}
.hw-menu-list{
	box-sizing: border-box;
}
.hw-menu-item-title{
	display: block;
	color: #181818;
	line-height: 16px;
	margin-bottom: 2px;
}
.hw-menu-item-title span{
	margin-left: 4px;
	position: relative;
	top: -1px;
	font-size: 12px;
}
.hw-menu-item-top-list{
	padding: 6px 0;
	height: 35px;
	border-bottom: 1px solid #eee;	
	font-size: 13px;
	position: relative;
}
.hw-write-box{
	width: 16px;
	height: 69px;
	background-color: #ffffff;
	float: right;
	position: absolute;
	top: -35px;
	right: -16px;
	z-index: 102;
	display: none;
}
.hw-top-list-item{
	color: #999;
	border-right: 1px solid #eee;
	padding-right: 6px;
	margin: 4px 3px 4px 0;
}
.hw-top-list-item:last-child{
	border-right: 0;
}
.hw-menu-bottom-btn{
	height: 40px;
	display: block;
	width: 100%;
	height: 44px;
	text-align: center;
	line-height: 44px;
	font-size: 13px;
	color: #ff6a00;
}
.hw-menu-bottom-btn:hover{
	background-color: #FF6A00;
	color: #FFFFFF;
}
.hw-menu-item:hover{
	box-shadow:  0 0 15px 0 rgba(0,0,0,.1);
}
.hw-menu-item:hover > a{
	color: #FF6A00;
}
.hw-top-list-item:hover{
	color: #FF6A00;
}
.hw-menu-item:hover .hw-menu-content,.hw-menu-item:hover .hw-write-box{
	display: block;
}
.hw-menu-content{
	width: 712px;
	height: 624px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 240px;
	box-shadow:  0 0 15px 0 rgba(0,0,0,.1);
	display: none;
	overflow-y: auto;
	z-index: 100;
}
.hw-menu-content::-webkit-scrollbar {
	width: 6px;
	background-color: #eee;
}
.hw-sub-menu{
	width: 100%;
	height: 100%;
	padding: 30px 20px 0;
}
.hw-sub-menu-box{
	width: 434px;
	height: 624px;
	margin-right: 15px;
	float: left;
}
.hw-hot-activity{
	width: 206px;
	height: 467px;
	float: left;
}
.hw-menu-box-title{
	display: block;
	font-size: 14px;
	color: #181818;
	font-weight: 600;
	margin-bottom: 15px;
	height: 16px;
	line-height: 16px;
}
.hw-sub-menu-list{
	width: 100%;
}
.hw-sub-menu-item{
	width: 50%;
	float: left;
}
.hw-sub-menu-item span{
	font-size: 13px;
	color: #999;
	line-height: 27px;
}
.hw-sub-menu-item:hover{
	color: #FF6A00;
}
.hw-hot-activity-item{
	border: 1px solid #ededed;
	width: 206px;
	height: 130px;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 14px;
	position: relative;
}
.hw-hot-activity-item span{
	color: #999;
	display: block;
}
.hw-hot-activity-item a{
	color: #ff6a00;
	line-height: 30px;
}
.img{
	width: 64px;
	height: 64px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.hw-hot-activity-item:hover{
	border: 1px solid #FF6A00;
}

.hw-index-banner{
	width: 940px;
	height: 320px;
	background-color: #181818;
	overflow: hidden;
}
.hw-lunbo{
	width: 4700px;
	animation: lunbo 20s;
	animation-iteration-count: infinite;
}
@keyframes lunbo{
	0%{
		margin-left: 0;
	}
	20%{
		margin-left: -940px;
	}
	40%{
		margin-left: -1880px;
	}
	60%{
		margin-left: -2820px;
	}
	80%{
		margin-left: -3760px;
	}
}
.hw-lunbo img{
	float: left;
	z-index: -2;
}
.hw-lunbo-title{
	position: relative;
}
.hw-layer1{
	transform: translateX(940px);
}
.hw-layer2{
	transform: translateX(1880px);
}
.hw-layer3{
	transform: translateX(2820px);
}
.hw-layer4{
	transform: translateX(3760px);
}

.hw-layer,.hw-layer1,.hw-layer2,.hw-layer3,.hw-layer4{
	width: 590px;
	height: 168px;
	position: absolute;
	top: 61px;
	left: 40px;
	z-index: 99;
}
.hw-layer h1,.hw-layer1 h1,.hw-layer2 h1,.hw-layer3 h1,.hw-layer4 h1{
	font-weight: 400;
	margin-bottom: 12px;
	text-align: left;
	line-height: 40px;
	font-family: PingFangSC-Regular;
	font-size: 28px;
	color: #181818;
	letter-spacing: 0;
	width: 590px;
	height: 40px;
}
.hw-layer p,.hw-layer1 p,.hw-layer2 p,.hw-layer3 p,.hw-layer4 p{
	text-align: left;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999;
	letter-spacing: .53px;
	height: 60px;
	width: 514px;
}
.hw-layer-btn,.hw-layer-btn1,.hw-layer-btn2,.hw-layer-btn3,.hw-layer-btn4{
	color: #ff6a00;
	border: none;
	background: transparent;
	outline: none;
	margin-top: 20px;
	font-size: 16px;
	position: relative;
	float: left;
	height: 36px;
	line-height: 36px;
}

.hw-index-right-bottom{
	width: 100%;
	height: 284px;
	margin-top: 20px;
}
.hw-index-box{
	float: left;
	height: 100%;
	background: #e9e9e9;
	width: 680px;
	margin-right: 20px;
}
.hw-index-box-wrap{
	width: 100%;
	height: 244px;
	padding: 20px 0;
	background: #fff;
}
.hw-index-box-item{
	height: 100%;
	width: 225px;
	border-right: 1px solid #eee;
	float: left;
	position: relative;
}
.hw-index-box-item:last-child{
	border-right: 0;
}
.hw-index-box-title{
	font-size: 18px;
	color: #181818;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
.hw-index-box-desc{
	font-size: 14px;
	color: #999;
	text-align: center;
	line-height: 25px;
	margin-bottom: 25px;
	height: 51px;
	padding: 0 20px;
}
.hw-index-box-img{
	width: 70px;
	height: 70px;
	position: absolute;
	left: 50%;
	margin-left: -35px;
}
.hw-index-box-item:hover .hw-index-box-title{
	color: #FF6A00;
}

.hw-user-info{
	width: 240px;
	height: 100%;
	background-color: #FFFFFF;
	float: left;
}
.hw-upper-avatar{
	width: 40px;
	height: 40px;
	margin: 0 auto;
	padding-top: 50px;
	border-radius: 100%;
}
.hw-upper-introduction{
	text-align: center;
	font-size: 14px;
	margin: 8px auto 0;
	font-family: PingFangSC-Regular;
	height: 20px;
	line-height: 20px;
}
.hw-upper-btn{
	width: 200px;
	height: 34px;
	margin: 24px auto 0;
	text-align: center;
}
.hw-upper-btn a{
	display: inline-block;
	width: 92px;
	height: 32px;
	border: 1px solid #ff6a00;
	line-height: 32px;
	font-size: 12px;
}
.hw-upper-btn a:first-child{
	color: #FFFFFF;
	background-color: #FF6A00;
}
.hw-upper-btn a:last-child{
	color: #FF6A00;
}
.hw-upper-btn a:last-child:hover{
	color: #FFFFFF;
	background-color: #FF6A00;
}
.hw-upper-line{
	margin-top: 50px;
	border-bottom: 1px solid #ededed;
}
.hw-upper-lower{
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 13px;
}
.hw-upper-lower a{
	
	width: 80px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	color: #FF6A00;
}
.hw-upper-lower a:first-child{
	text-align: right;
}
.hw-upper-lower a:last-child{
	text-align: left;
}