.njr {
    margin: 0;
}

.njr_page {
    width: 1519.2px;
    height: 808px;
    /* background-color: chartreuse; */
}

.njr_whole {
    width: 1200px;
    height: 808px;
    /* background-color: coral; */
    margin-left: auto;
    margin-right: auto;
}

.njr_top {
    width: 1200px;
    height: 192px;
    /* background-color: cornflowerblue; */
}

a {
    text-decoration: none;
    color: #181818;
}

.njr_top a {
    font-size: 24px;
}

.njr_top a:hover {
    color: #ff6a00!important;
}

.njr_top_main {
    padding-top: 50px;
}

.njr_top_main a+div {
    color: #999;
}

.njr_top_main div {
    margin: 20px 0px;
}

.njr_middle {
    width: 1200px;
    height: 352px;
    /* background-color: white; */
}

.njr_middle_header {
    width: 1200px;
    height: 42px;
    /* background-color: darkgoldenrod; */
}

.njr_middle_header_left {
    width: 80px;
    height: 42px;
    /* background-color: darksalmon; */
    font-size: 20px;
    color: #181818;
    line-height: 40px;
    display: inline-block;
}

.njr_middle_header ul {
    padding: 18px;
    margin: 0px;
    display: inline-block;
    float: right;
}

.check {
    background: #b5b5b533;
    list-style: none;
    width: 30px;
    height: 5px;
    float: left;
    color: #fff;
    margin-left: 10px;
}


/* .njr_middle_header li:active {
    background: #ff6a00;
} */

.check:focus {
    background: #ff6a00;
}

.check:nth-of-type(n+2)+.njr_middle_footer {
    display: none;
}

.check:nth-of-type(n):focus+.njr_middle_footer {
    display: block;
    z-index: 999;
}

.njr_middle_footer {
    width: 1200px;
    height: 290px;
    background-color: white;
    margin-top: 20px;
    position: absolute;
    left: 160px;
}

.njr_middle_footer a {
    width: 585px;
    height: 130px;
    /* background-color: yellow; */
    position: absolute;
}

.njr_middle_footer>a>img {
    width: 220px;
    height: 130px;
}


/* .njr_middle_footer a div {
    display: inline-block;
} */

.njr_img_right {
    position: absolute;
    width: 345px;
    height: 130px;
    /* background-color: thistle; */
    margin-left: 20px;
    display: inline-block;
}

.njr_img_right div:nth-child(1) {
    font-weight: 700;
    font-size: 16px;
    color: #181818;
    margin: 5px 0px 10px 0px;
}

.njr_img_right_bottom {
    width: 342px;
    height: 20px;
    margin: 20px 0px;
    display: inline-block;
}

.njr_img_right_bottom img {
    width: 20px;
    height: 20px;
}

.njr_img_right_bottom span {
    color: #999;
    font-weight: 0;
    font-size: 13px;
    position: absolute;
    margin: 2px;
}

.njr_img_right_bottom_right {
    position: absolute;
    right: 35px;
    bottom: 5px;
}

.njr_bubble {
    position: absolute;
    bottom: 30px;
    left: -56px;
    padding: 16px;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 4px;
    display: none;
}

.njr_bubble img {
    width: 100px;
    height: 100px;
}

.njr_img_right_bottom_right img:nth-child(1):hover+.njr_bubble {
    display: block;
}

.njr_middle_footer a:nth-of-type(2n) {
    right: 0;
}

.njr_middle_footer a:nth-of-type(n+3) {
    bottom: 0;
}

.njr_bottom_top {
    width: 1200px;
    height: 42px;
    /* background-color: yellowgreen; */
    font-size: 20px;
    color: #181818;
    line-height: 42px;
    margin: 30px 0px;
}

.njr_over {
    width: 1200px;
    height: 152px;
    /* background-color: sienna; */
}

.njr_over1 {
    width: 338px;
    height: 110px;
    background-color: white;
    border: 1px solid #ededed;
    padding: 20px;
    display: inline-block;
    position: relative;
}

.njr_over1:nth-of-type(n+2) {
    margin-left: 25px;
}

.njr_over1_top {
    font-size: 16px;
    font-weight: 700;
    color: #181818!important;
}

.njr_over1 ul {
    padding-left: 5px;
    width: 160px;
    height: 78px;
    display: inline-block;
}

.njr_over1 li {
    width: 169px;
    height: 24px;
    font-size: 14px;
    color: #3d3d3d!important;
}

.njr_over1_bottom {
    position: absolute;
    left: 40px;
}

.njr_img_right div:first-child:hover {
    color: #ff6a00!important;
}

.njr_over1_bottom li:hover {
    color: #ff6a00!important;
}

.njr_over1_top:hover {
    color: #ff6a00!important;
}

.njr_over1:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    transition: box-shadow .3s ease-out;
}