*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.aliyun_topbar{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0, 0, 0.2);
}
.aliyun_header{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.aliyun_link{
    display: inline-block;
    margin-top: 26.5px;
}
.aliyun_link > img{
    height: 27px;
    margin-right: 10px;
}
.login_title{
    font-size: 24px;
    color: #181818;
    padding: 0 10px;
    border-left: 1px solid #999999;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header_logo{
    float: left;
}
.aliyun_language{
    width: 80px;
    height: 22px;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ededed;
    text-align: center;
    color: #999999;
    line-height: 22px;
}
.language_text{
    font-size: 12px;
}
.white_box{
    width: 80px;
    height: 10px;
}
.language_choice{
    /* width: 116px;
    height: 78px; */
    background-color: #ffffff;
    position: absolute;
    right: 0;
    border: 1px solid #ededed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 10px 16px;
    display: none;
    z-index: 999;
}
.type_item{
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.93px;
    text-align: left;
}
.type_item > a{
    color: #999999;
    display: block;
}
.type_item > a:hover{
    color: #ff6a00;
}
.aliyun_language:hover .language_choice{
    display: block;
}
.white_box:hover ~ .language_choice{
    display: block;
}

.login_body{
    background-color: #F5f5f6;
}
.login{
    width: 1200px;
    height: 560px;
    margin: 0 auto;
    padding: 60px 0 80px;
}
.login_left{
    width: 600px;
    height: 100%;
    float: left;
}
.login_left_a{
    width: 600px;
    height: 100%;
}
.login_right{
    width: 600px;
    height: 100%;
    float: right;
    box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    position: relative;
    background-color: #ffffff;
}
.left_link{
    display: block;
    width: 100%;
    height: 220px;
    margin-top: 100px;
}
.left_main_title{
    display: block;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
    color: #181818;
    letter-spacing: 0;
    margin-bottom: 20px;
    transition: all 0.3s;
}
.left_sub_title{
    display: block;
    font-size: 16px;   
    line-height: 30px;
    text-align: left;
    color: #999;
    letter-spacing: 0.53px;
}
.left_link:hover > .left_main_title{
    color: #ff6a00;
}
.login_type_item{
    width: 50%;
    height: 51px;
    float: left;
    text-align: center;
    line-height: 52px;
    font-size: 14px;
    color: #73777a;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}
.login_type .login_type_item:first-child{
    width: 299px;
    border-bottom: 3px solid #ff6a00;
    border-right: 1px solid #d8d8d8;
}
.login_type_item div{
    display: inline-block;
    margin-left: 10px;
}
.login_type_item span{
    font-size: 22px;
    vertical-align: middle;
}
.third_login_type{
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #d8d8d8;
}
.third_party_login{
    width: 299px;
    height: 100%;
    line-height: 40px;
    border-right: 1px solid #d8d8d8;
    float: left;
    text-align: center;
}
.third_party_login > span{
    font-size: 14px;
    color: #999999;
    margin-right: 10px;
    display: inline-block;
}
.taobao{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.taobao span{
    font-size: 19px;
    color: #FF5000;
}
.third_party_login a:nth-of-type(2) span{
    color: #ff6a00;
}
.third_party_login a:nth-of-type(3) span{
    color: #d82524;
}
.third_party_login a:nth-of-type(4) span{
    color: #009cea;
}
.third_party_login a:nth-of-type(5) span{
    color: #009cea;
}
.ram_login{
    width: 50%;
    float: left;
    line-height: 40px;
    text-align: center;
}
.ram_login_text{
    color: #1890ff;
    font-size: 12px;
}

.alipay_channel{
    width: 100%;
    height: 470px;
    text-align: center;
    margin-top: 52px;
}
.alipay_channel a{
    font-size: 14px;
    color: #1890ff;
    display: block;
    position: absolute;
    bottom: 64px;
    left: 270px;
    transform: translateY(-50%);
}
.alipay_text_wrap{
    padding-top: 45px;
}
.alipay_text{
    font-size: 14px;
    line-height: 30px;
    color: #999999;
}
.icon_wrap{
    display: flex;
    justify-items: center;
    align-items: center;
    line-height: 30px;
    margin: 0 199px;
}
.icon_wrap span:nth-of-type(even){
    font-size: 12px;
}
.icon_wrap span:nth-of-type(odd){
    font-size: 22px;
    color: #009cea;
}
.icon_wrap span:nth-of-type(3){
    margin-left: 25px;
}
.icon_wrap span:nth-of-type(4){
    margin-right: 25px;
}
.alipay_channel img{
    margin-top: 20px;
}

.account_login{
    width: 100%;
    height: 470px;
    margin-top: 52px;
    display: none;
}
.login_container{
    width: 330px;
    height: 254px;
    position: absolute;
    left: 50%;
    top: 126px;
    transform: translate(-50%);
}
.corner_icon_view{
    width: 100%;
    height: 44px;
    position: relative;
}
.master_login_title{
    font-size: 18px;
    font-weight: 400;
}
.corner_icon_view > span{
    font-size: 40px;
    position: absolute;
    top: -3px;
    right: -2px;
    color: #999999;
    cursor: pointer;
}
.corner_icon_view > div:last-child{
    width: 50px;
    height: 25px;
    background-color: #ffffff;
    display: block;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    top: 14px;
    right: 4px;
}
.login_tip{
    width: 70px;
    height: 28px;
    display: block;
    position: absolute;
    top: 0;
    right: 45px;
    background-color: #ffe1cc;
    border: 1px solid #ff9000;
    text-align: center;
    z-index: 6;
}
.login_tip > span{
    font-size: 12px;
    font-weight: 400;
    color: #ff6a00;
    line-height: 28px;   
}
.login_tip > div{
    width: 8px;
    height: 8px;
    background-color: #ffe1cc;
    border: 1px solid #ff9000;
    position: absolute;
    top: 9px;
    right: -5px;
    transform: rotate(45deg);
    border-left: 0;
    border-bottom: 0;
}
.login_content{
    width: 100%;
    height: 210px;
}
.login_form{
    padding-top: 10px;
}
.fm_field{
    margin-bottom: 18px;
}
.fm_text{
    width: 320px;
    height: 42px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #d7d8d9;
}
.fm_text:hover{
    border-color: #ff6a00;
}
.fm_text:focus{
    border-color: #ff6a00;
}
.fm_btn{
    margin-top: 20px;
}
.login_btn{
    width: 332px;
    height: 42px;
    line-height: 42px;
    background-color: #ff6a00;
    color: #ffffff;
    border: 1px solid #ff6a00;
    cursor: pointer;
}
.login_links{
    text-align: right;
    margin: 8px 0;
}
.login_links a{
    font-size: 12px;
    color: #9b9ea0;
    margin-left: 10px;
}