    body {
        font-size: 60px;
    }
    
    .swiper-container {
        width: 100%;
    }
    
    .swiper-container img {
        width: 100%;
        height: 100%;
    }
    
    .m_njr2_search {
        height: 0.65rem;
        width: 100%;
        background-color: blue;
        position: absolute;
        top: 1rem;
        z-index: 99;
        padding: .16rem .4rem;
        background-color: rgba(255, 255, 255, .2);
    }
    
    .m_njr2_send {
        height: 0.65rem;
        width: 80%;
        background-color: rgba(0, 0, 0, .3);
        position: relative;
    }
    
    .m_njr2_send input {
        padding: 0 .2rem 0 .6666667rem;
        height: 0.65rem;
        line-height: 1.01333333rem;
        border-radius: 0;
        outline: 0;
        color: #fff;
        border: none;
        background-color: transparent;
        width: 80%;
        position: absolute;
        font-size: 0.4rem;
    }
    
    .m_njr2_send span {
        color: #fff;
        position: absolute;
        left: .3rem;
        line-height: 0.65rem;
        width: 0.27rem;
        height: 0.72rem;
        font-size: 0.27rem;
    }
    
    .m_njr2_searchright {
        display: inline-block;
        position: absolute;
        width: 10%;
        height: 1rem;
        top: -0.15rem;
        right: 1rem;
        text-align: center;
    }
    
    .m_njr2_searchright span:first-of-type {
        color: #fff;
        font-size: .35rem;
        position: absolute;
        top: 0.25rem;
        right: 0.2rem
    }
    
    .m_njr2_searchright span:last-of-type {
        color: #fff;
        font-size: .2rem;
        width: 1.1rem;
        display: inline-block;
        position: absolute;
        right: -0.2rem;
        top: 0.8rem;
    }
    
    .m_njr2_basic {
        height: 3.35rem;
        /* width: 100%; */
        padding: .3rem .4rem;
    }
    
    .m_njr2_basic ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex: 4;
    }
    
    .m_njr2_basic li {
        display: inline-flex;
        flex: 1;
        text-align: center;
        font-size: 0.27rem;
        display: inline-block;
    }
    
    .m_njr2_basic img {
        width: 0.96rem;
        height: 0.88rem;
    }
    
    .m_njr2_blank {
        height: .2rem;
        width: 100%;
        background-color: #f1f1f1;
    }
    
    .m_njr2_service {
        height: 3.3rem;
        background-color: cadetblue;
        background-color: #fff;
        padding: .3rem .4rem;
    }
    
    .m_njr2_service h3 {
        text-align: center;
        line-height: .5rem;
        margin-bottom: .4rem;
        font-size: 0.27rem;
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    .m_njr2_service ul {
        margin: 0.2rem;
        padding: 0;
        list-style: none;
        font-size: 0.27rem;
        display: flex;
    }
    
    .m_njr2_service li {
        flex: 1;
        text-align: center;
        display: inline-block;
    }
    
    .m_njr2_services img {
        width: 1.72rem;
        height: 1.72rem;
    }
    
    .m_njr2_build img {
        width: 1.15rem;
        height: 0.86rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
    
    .m_njr2_build {
        margin-top: 0.2rem;
    }
    
    .m_njr2_free img {
        width: 1.15rem;
        height: 0.86rem;
    }
    
    .m_njr2_new {
        height: 2.5rem;
    }