*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.header{
    height: 0.8rem;
	background-color: #383d41;
	position: relative;
	font-size: 0;
	display: flex;
	justify-items: center;
	align-items: center;
}
.header_logo img{
	width: 1.5rem;
}
.header_logo{
	padding-left: 0.27rem;
	position: relative;
}
.header_box{
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	right: 0.2rem;	
}
.header_box span,.header_login span{
	font-size: 0.3rem;
	line-height: 0.5rem;
	color: #FFFFFF;
}
.header_login{
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	right: 1rem;
}
.header_login span{
	font-size: 0.4rem;
}
.login_box{
	width: 100%;
	height: 3.4rem;
	background-color: #383838;
	position: absolute;
	top: 0.8rem;
	display: none;
	z-index: 99;
}
.login{
	height: 0.35rem;
	padding: 0.225rem 0.175rem;
}
.sign_up_botton{
	font-size: 0.15rem;
	width: 2rem;
	height: 0.35rem;
	display: block;
	background-color: #00c1de;
	text-align: center;
	line-height: 0.35rem;
	color: #FFFFFF;
	float: left;
}
.login_botton{
	font-size: 0.15rem;
	float: right;
	width: 1.2rem;
	height:  0.35rem;
	border: 1px solid #00c1de;
	color: #00C1DE;
	text-align: center;
	line-height: 0.35rem;
}
.login_box li{	
	height: 0.4rem;
	font-size: 0.16rem;
	border-top: 1px solid #73777a;
	line-height: 0.4rem;
}
.login_box ul{	
	padding: 0 0.11rem 0.14rem;
}
.login_box li > a{
	color: #FFFFFF;
	padding: 0 0.065rem;
	display: block;
}
.login_box a > span:last-child{
	float: right;
	line-height: 0.4rem;
}
.sub_title{
	font-size: 0.14rem;
	color: #ff8a00;
	margin-left: 0.1rem;
}

.module{
    width: 7.2rem;
    height: 4rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.module_box{
    width: 43.2rem;
	height: 100%;
	position: absolute;
}
.img_box{
    width: 7.2rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 7.2rem 4rem;
    float: left;
    position: relative;
}

.module_box .img_box:nth-of-type(1){
	background-image: url(../img/TB11KAZicKfxu4jSZPfXXb3dXXa-2880-735.jpg);
}
.module_box .img_box:nth-of-type(2){
	background-image: url(../img/TB1fYN9AEH1gK0jSZSyXXXtlpXa-2880-735.jpg);
}
.module_box .img_box:nth-of-type(3){
	background-image: url(../img/TB1ZqoRGHr1gK0jSZR0XXbP8XXa-2880-735.jpg);
}
.module_box .img_box:nth-of-type(4){
	background-image: url(../img/TB1iX8UKND1gK0jSZFsXXbldVXa-2800-735.jpg);
}
.module_box .img_box:nth-of-type(5){
	background-image: url(../img/TB11KAZicKfxu4jSZPfXXb3dXXa-2880-735.jpg);
}
.module_box .img_box:nth-of-type(6){
	background-image: url(../img/TB1fYN9AEH1gK0jSZSyXXXtlpXa-2880-735.jpg);
}
.module_content{
    width: 6.6rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    left: 0.2rem;
}
.module_tit{
    font-size: 0.4rem;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.module_subtit{
    font-size: 0.25rem;
    color: #FFFFFF;
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.module_content a{
    display: inline-block;
    width: 1.25rem;
    height: 0.4rem;
    font-size: 0.25rem;
    border: 1px solid #FFFFFF;
    text-align: center;
    line-height: 0.4rem;
    color: #FFFFFF;
    position: absolute;
    bottom: 0.2rem;
}
.module ul{
	display: block;
	width: 100%;
    text-align: center;
    font-size: 0;
    position: absolute;
	bottom: 0.4rem;
	z-index: 6;
}
.module li{
    display: inline-block;
    width: 0.6rem;
    height: 0.1rem;
	background-color: #a1a1a3;
	opacity: 0.5;
    margin: 0 0.1rem;
}
.module ul li.on{
	background-color: #FFFFFF;
	opacity: 1;
}

.module_contents{
	width: 7.2rem;
	height: 2.3rem;
	margin: 0 auto;
	background-color: #0f1d3d;
}
.contents{
	width: 50%;
	float: left;
}
.contents a{
	display: block;
	padding-left: 0.3rem;
	border-left: 1px solid #3f4a63;
	margin-top: 0.3rem;
}
.contents a:nth-of-type(even){
	border-left: 0;
}
.contents_title{
	font-size: 0.28rem;
	height: 0.4rem;
	overflow: hidden;
	font-weight: 400;
	color: #d6d9de;
}
.contents_desc{
	font-size: 0.15rem;
	overflow: hidden;
	height: 0.3rem;
	margin-top: 0.03rem;
	color: #7c8395;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.smarter{
	width: 7.2rem;
	margin: 0 auto 0.6rem;
}
.smarter_title{
	font-size: 0.4rem;
	text-align: center;
	padding: 1rem 0 0.36rem 0;
}
.smarter ul{
	display: block;
	height: 2rem;
}
.smarter li{
	float: left;
	padding: 0.25rem 0.8rem;
}
.smarter li a{
	display: block;
}
.product_name{
	width: 2rem;
	font-size: 0.25rem;
	text-align: center;
	color: #373d41;
}
.product_icon{
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: contain;
}
.icon1{
	background-image: url(../img/icon1.png);
}
.icon2{
	background-image: url(../img/icon2.png);
}
.icon3{
	background-image: url(../img/icon3.png);
}
.icon4{
	background-image: url(../img/icon4.png);
}
.icon5{
	background-image: url(../img/icon5.png);
}
.icon6{
	background-image: url(../img/icon6.png);
}
.product_content{
	width: 7.2rem;
	background-color: #f5f5f6;
	display: none;
}
.product_content a{
	display: block;
	padding: 0.3rem;
}
.product_content_tit{
	font-size: 0.28rem;
	line-height: 0.5rem;
	color: #373d41;
}
.product_content_desc{
	font-size: 0.2rem;
	line-height: 0.4rem;
	color: #9b9ea0;
}
.first_product_content{
	display: block;
}
.first_product_name{
	color: #00c1de;
}

.slick{
	width: 7.2rem;
	height: 10rem;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}
.slick::-webkit-scrollbar{
	display: none;
}
.slick_list{
	width: 36rem;
	height: 100%;
	position: absolute;
}
.slick_body{
	padding: 0 0.2rem;
	float: left;
	position: relative;
}
.slick_body a{
	display: block;
}
.slick_body img{
	width: 6.8rem;
}
.slick_content{
	width: 6.8rem;
	height: 4.8rem;
	background-color: rgba(95,97,97,.7);
	position: absolute;
	bottom: 0.25rem;
	left: 0.2rem;
}
.ctit{
	font-size: 0.3rem;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	padding-top: 0.3rem;
}
.csub{
	font-size: 0.24rem;
	color: #FFFFFF;
	font-weight: 400;
	margin-top: 0.6rem;
	padding: 0 0.3rem;
	text-align: center;
	line-height: 0.5rem;
}
.slick_dots{
	background-color: #0000;
	font-size: 0;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
}
.slick_dots ul{
	display: inline-block;
	height: 0.28rem;
}
.slick_dots li{
	width: 0.15rem;
	height: 0.15rem;
	background-color: #a1a1a3;
	float: left;
	margin: 0.05rem;
	border-radius: 50%;
	padding: 0 0;
}
.slick_dots ul li.first_slick_dot{
	background-color: #FFFFFF;
}

.bg{
	width: 7.2rem;
	margin: 0 auto;
	background-image: url(../img/TB1h1NgsXOWBuNjy0FiXXXFxVXa-1920-320.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.bg_title{
	font-size: 0.5rem;
	color: #FFFFFF;
	font-weight: 400;
	padding-top: 0.5rem;
}
.bg_desc{
	font-size: 0.3rem;
	color: #FFFFFF;
	font-weight: 400;
	margin: 0.3rem 0.5rem;
}
.bg_a a{
	display: inline-block;
	width: 2rem;
	line-height: 0.6rem;
	font-size: 0.3rem;
	border: 1.5px solid #ffffff;
	color: #FFFFFF;
	font-weight: 400;
	margin: 0 0.15rem;
}
.bg_a{
	font-size: 0;
	padding: 0.3rem 0 0.2rem;
}


.download{
	width: 7.2rem;
	margin: 0 auto 0.5rem;
}
.download_title{
	font-size: 0.4rem;
	text-align: center;
	padding: 0.6rem 0;
}
.download_content{
	width: 6.8rem;
	height: 3rem;
	border: 1px solid #ebebec;
	margin: 0 0.2rem;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
	position: relative;
}
.download_a{
	display: block;
	font-size: 0;
	padding: 0.4rem 0.4rem 0;
}
.download_a span{
	width: 0.25rem;
	height: 0.3rem;
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
}
.download_a span img{
	width: 100%;
}
.div_color{
	width: 0.9rem;
	height: 0.3rem;
	background-color: #ff6a00;
	border-radius: 15px;
}
.name{
	font-size: 0.3rem;
	color: #373d41;
	margin-top: 0.3rem;
	font-weight: 400;
}
.con{
	font-size: 0.22rem;
	color: #373d41;
	margin-top: 0.2rem;
	line-height: 0.35rem;
}
.more{
	font-size: 0.3rem;
	color: #ff6a00;
	display: block;
	position: absolute;
	left: 0.4rem;
	bottom: 0.15rem;
}
.download_dots{
	font-size: 0;
	text-align: center;
	margin-top: 0.2rem;
}
.download ul{
	display: inline-block;
}
.download li{
	width: 0.18rem;
	height: 0.18rem;
	background-color: #d8d8d8;
	float: left;
	margin: 0.1rem;
	border-radius: 50%;
}
.download li.first_dots{
	background-color: #ff6a00;
}

.news{
	width: 7.2rem;
	margin: 0 auto 0.5rem;
}
.news_title{
	font-size: 0.4rem;
	text-align: center;
	padding-bottom: 0.5rem;
}
.news_content{
	width: 6.8rem;
	margin: 0 0.2rem;
	position: relative;
}
.news_content a{
	display: block;
	font-size: 0.3rem;
}
.news_content a img{
	width: 100%;
}
.xinxi{
	position: absolute;
	bottom: 1.9rem;
	left: 0.45rem;
	color: #FFFFFF;
}
.news_content p{
	color: #333333;
	text-align: left;
	margin-top: 0.2rem;
}

.footer{
	background-color: #373D41;
	font-size: 0.2rem;
}
.hot-product h2{
	color: #999999;
	font-weight: 100;
	margin-bottom: 0.15rem;
}
.hot-product{
	padding: 0.2rem 0.4rem;
}
.hot-product ul{
	height: 0.3rem;
}
.hot-product li{	
	float: left;
	margin-right: 0.3rem;
}
.hot-product li a{
	line-height: 0.24rem;
	color: #D7D8D9;
}
.footer-line{
	height: 0.02rem;
	background-color: #5B5B5B;
	margin: 0 0.2rem;
}
.footer-blogroll{
	padding: 0.28rem 0.4rem;
}	
.footer-blogroll li{
	margin-bottom: 0.1rem;
}
.footer-blogroll  li > a{
	color: #D7D8D9;
}
.footer-blogroll > p > span{
	color: #999999;
	line-height: 0.32rem;
}
.footer-share{
	color: #EBECEC;
	display: inline-block;
	padding-right: 0.24rem;
}
.footer-share img{
	width: 0.2rem;
	margin-left: 0.05rem;
}
.footer-common{
	color: #EBECEC;
	border: 1px solid #979797;
	height: 0.5rem;
	line-height: 0.5rem;
	display: block;
	text-align: center;
	margin: 0.35rem 0.4rem;
}
.footer-logo{
	margin-left: 0.35rem;
	width: 2rem;
	height: 0.58rem;
}
.footer-end{
	color: #D7D8D9;
	padding: 0.3rem 0.35rem;
}