*{
	margin: 0;
	padding: 0;
}
.dinglan{
	width: 100%;
	height: 50px;
	background-color: #383d41;
	font-size: 0;
}
.ding{
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.zuo{
	width: 82.5px;
	height: 50px;
	padding-left: 14px;
}
.zuo>img{
	width: 82.5px;
	height: 20px;
	margin-top: 15px;
}
.you{
	width: 140px;
	height: 50px;
	display: flex;
	align-items: center;
}
.A{
	margin-top: 4px;
}
.A>img{
	width: 49px;
	height: 21px;	
}
.B{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
    margin-left: -9px;
    color: white;
}
.C{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	font-size: 34px;
}
.lunbo{
	width: 100%;
	font-size: 0;
}
.lunbo-kuan{
	width: 100%;
	overflow: hidden;
}
.lunbo-tu{
	width: 300%;
	height: 100%;
	animation: name 8s;
	margin: 0 auto;
	animation-iteration-count: infinite;
}
.lunbo-tu>img{
	width: 10rem;
	height: 6rem;
}

@keyframes name {
	0% {
		margin-left: 0;
	}

	33% {
		margin-left: -100%;
	}

	66% {
		margin-left: -200%;
	}
	100% {
		margin-left: 0;
	}
}
.zitilan{
	width: 100%;
	height:2rem ;
	display: flex;
	flex-direction: row;
	font-size: 0;
}
.nei{
	width: 33.333333333333333333%;
	height: 2rem;
	background-color: #f2f2f2;
	display: flex;
	position: relative;
}
.left{
	padding: 0 .16rem;
    height: 100%;
    width: 0.8rem;
    left: 0;
    top: 0;
}
.left>img{
	width: .8rem;
    height: .8rem;
    margin-top: 0.6rem;
}
.right{
	width: 2.2rem;
    padding: .48rem .16rem .48rem 0;
}
.title{
	line-height: .64rem;
    color: #373D41;
    font-size: .37333333rem;
}
.desc{
	line-height: .53333333rem;
    color: #999;
    font-size: .32rem;
}
.nei a{
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.kuai{
	padding: .53333333rem .32rem;
}
.top-title{
	font-size: .64rem;
    line-height: .96rem;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: .32rem;
}
.top-title a{
	text-decoration: none;
	color: #373D41;
}
.top-desc{
	color: #999;
	font-size: .32rem;
	margin: 1em;
    line-height: 0.6rem;
}
.top-item{
	width: 100%;
	height: 5rem;
	background-image: url(../img/TB1OLcDUwDqK1RjSZSyXXaxEVXa-700-400.jpg_q75s150.jpg);
	background-size:cover;
}

.box{
	overflow: hidden;
    position: relative;
    overflow-x: auto;
	display: flex;
}
.det{
	padding-right: .26666667rem;
    -webkit-box-sizing: border-box;
}
.news-item{
	width: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 4rem;
    position: relative;
    background-position: center center;
}
.mask{
	position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43,43,43,.3);
}
.news-yi{
	font-size: .48rem;
    line-height: .66666667rem;
    color: #fff;
    text-align: center;
    margin-bottom: .16rem;
    width: 100%;
	margin-top: 80px;
}
.news-er{
	font-size: .37333333rem;
    line-height: .53333333rem;
    color: #fff;
    text-align: center;
    padding: .16rem .53333333rem;
}

.news-title{
	color: #fff;
	font-size: .48rem;
	line-height: 5rem;
    text-align: center;
}
.D{
	background-image: url(../img/bgimg1.jpg);
}
.E{
	margin-top: 5px;
	background-image: url(../img/bgimg2.jpg);
}
.F{
	margin-top: 5px;
	background-image: url(../img/bgimg3.jpg);
}
.DD{
	line-height: 2.5rem;
}
.news-desc{
	font-size: .37333333rem;
    line-height: .53333333rem;
    color: #fff;
    text-align: center;
    padding: .16rem .53333333rem;
	margin-top: -60px;
}
.pt{
	width: 100%;
	background: #F5F6F7;
}
.pt-summary-top{
	padding: 1.06666667rem 0;
}
.pt-title{
	line-height: .96rem;
    font-size: .64rem;
    color: #373D41;
    padding-bottom: .64rem;
    text-align: center;
    display: block;
}
.pt-desc{
	line-height: .64rem;
    font-size: .32rem;
    color: #999;
    padding: 0 .32rem;
    text-align: center;
    display: block;
}
.nav{
	display: flex;
	padding: 0 .16rem 1.06666667rem;
	background: #F5F6F7;
}
.yi{
	width: 25%;
}
.yi span{
	display: block;
    text-align: center;
    padding-bottom: .16rem;
    font-size: .64rem;
}
.rd-name{
	display: block;
    text-align: center;
    font-size: .37333333rem;
    line-height: .64rem;
    color: #373D41;
}
.tioaxinglan{
	padding: 0 14px 40px;
	background: #F5F6F7;
}
.er{
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
    background-color: #fff;
	display: inline-block;
}
.er>.lef{
	width: 28px;
	height: 60px;
    padding: 0 14px;
	float: left;
	display: inline-block;
}
.lef img{
	width: 28px;
	height: 28px;
	font-size: 0;
	display: flex;
    margin-top: 15px;
	background-size: cover;
}
.er>.right{
	width: 36px;
	line-height: 60px;
	padding: 0 14px;
	font-size: 40px;
	color: #D7D8D9;
	float: right;
	display: inline-block;
}


.service_show{
	height: 450px;
	width: 100% 	 ;
	background-color: white;
	z-index: 2;
	display: none;
	overflow: hidden;
	border-top: 1px solid #F6F7F7;
}
.show_part{
	background-color: white;
	padding-top: 10px;
	margin-bottom: 20px;

}
.part_one{
	font-size: 14px;
    line-height: 24px;
    color: #373D41;	
	margin-left: 20px;
}
.part_two{
	font-size: 14px;
    line-height: 24px;
    color: #9B9EA0;
	margin-left: 20px;
}

.main{
	height: 60px;
	float: left;
	display: inline-block;
}
.pt-summary-name{
	line-height: 56px;
    font-size: 16px;
    color: #373D41;
}
.module{
	background: #F5F6F7;
    padding-bottom: .53333333rem;
}
.module-wrap{
	    padding: .53333333rem 0 .53333333rem .32rem;
}
.dakuan{
	padding:1.2rem 0.16rem 0 0.16rem;
	background-color: #5E7E99;
}
.Q{
	color: #fff;
}
.diyilan{
	padding: 0 .16rem 1.2rem;
	display: flex;
	justify-content: space-around;
}
.neikuan{
	width: 23%;
	height: 2.66666667rem;
	background-color: #92A3B4;
}
.product-title{
	display: block;
    text-align: center;
    font-size: .26666667rem;
    line-height: .66666667rem;
    padding-bottom: .13333333rem;
    color: #ccc;
}
.product-imag{
	height: .93333333rem;
    width: .66666667rem;
    margin-bottom: .13333333rem;
	background-image: url(../img/TB1.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 50px;
	background-size: .66666667rem .73333333rem;
}
.product-name{
	display: block;
    text-align: center;
    font-size: .37333333rem;
    line-height: .64rem;
    color: #FBFBFB;
}
.P{
	background-image: url(../img/TB2.png);
}
.O{
	background-image: url(../img/TB3.png);
}
.I{
	background-image: url(../img/TB4.png);
}
.yunqi{
	padding: .53333333rem .32rem;
}
.jia{
	padding-bottom: 0;
}
.yunqi-list{
	height: 5.33333333rem;
    background-image: url(../img/TB17.png);
    background-repeat: no-repeat;
    background-position: center;
}
.partner{
	background-color: #F5F6F7;
    width: 100%;
    padding-bottom: .53333333rem;
}
.partner-title{
	font-size: .64rem;
    line-height: .96rem;
    padding: .53333333rem .32rem;
    text-align: center;
    color: #373D41;
}
.partner-list{
	width: 100%;
	height: 2rem;
}
.partner-item{
	width: 33%;
    height: 1.86666667rem;
    float: left;
}

.partner-icon{
	height: 1.2rem;
    margin-bottom: .64rem;
    padding: .26666667rem .53333333rem;
}
.partner-icon-imag{
	width: 100%;
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/TB5.png);
}
.huantu1{
	background-image: url(../img/TB6.png);
}
.huantu2{
	background-image: url(../img/TB7.png);
}
.new-account-wrapper{
	background-color: #00C1DE;
    padding: .64rem .32rem;
}
.new-account-title{
	font-size: .64rem;
    line-height: .96rem;
    font-weight: 700;
    padding-bottom: .32rem;
    color: #fff;
    text-align: center;
}
.new-account-btn{
	line-height: .96rem;
    height: .96rem;
    font-size: .37333333rem;
    color: #fff;
    border: 1px solid #fff;
    padding: 0 .8rem;
    text-align: center;
    display: inline-block;
	margin-left: 220px;
}
.big{
	padding-bottom: .26666667rem;
    background-color: #373D41;
}
.hot-product{
	padding: .4rem .53333333rem;
}
.hot-product h2{
	font-size: 14px;
    margin-bottom: .26666667rem;
    color: #999;
}
.hot-product ul{
	padding-bottom: .26666667rem;
}
.hot-product li{
	float: left;
    margin-right: .26666667rem;
	font-size: 14px;
    line-height: 24px;
    color: #D7D8D9;
	list-style: none;
}
.footer-xian{
	margin: 0 .21333333rem;
    height: 1px;
    background-color: #5B5B5B;
    transform: scaleY(.5);
}
.footer{
	padding: .4rem .53333333rem;
    font-size: 14px;
}
.footer li{
	list-style: none;
}
.footer-common-f24{
	line-height: 32px;
	color: #EBECEC;
	font-size: 14px;
}
.footer p{
	color: #DFE0E1;
    font-size: 14px;
    line-height: 32px;
}
.footer>p>a{
	margin-right: .66666667rem;
    color: #EBECEC;
    line-height: 32px;
    display: inline-block;
    padding-right: 24px;
    position: relative;
}
.footer-common-95187{
	border: 1px solid #979797;
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    color: #EBECEC;
    margin: .53333333rem .50666667rem;
}
.logo{
	margin-left: .53333333rem;
    width: 2.66666667rem;
}
.footer-common-pd24{
	padding: .26666667rem .53333333rem;
	font-size: 12px;
	color: #D7D8D9;
}